<!doctype html>
<html>

<head>
    <title>测试聊天室</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <ul id="messages"></ul>
    <div id="form">
        <input id="ipt" autocomplete="off" placeholder="请输入内容" /><button id="send">Send</button>
    </div>
    <script src="/js/socket.io.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>